{
  "parser": "@typescript-eslint/parser",
  "extends": ["prettier"],
  "plugins": ["@typescript-eslint"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "es6": true
  },
  "ignorePatterns": ["src/generated/", "src/**/*.spec.ts", "src/**/*.spec.integration.ts"],
  "root": true,
  "overrides": [
    {
      "files": ["src/**/*.ts"],
      "extends": ["plugin:@typescript-eslint/recommended"],
      "parserOptions": {
        "project": ["tsconfig.json"]
      },
      "rules": {
        "@typescript-eslint/no-inferrable-types": 0,
        "@typescript-eslint/no-unused-vars": [
          "warn",
          {
            "argsIgnorePattern": "^_"
          }
        ],
        "@typescript-eslint/no-var-requires": 0
      }
    }
  ]
}
